<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../js/vue/vue.min.js"></script>
    <script src="../js/jQuery/jquery-3.5.0.min.js"></script>
    <script src="../js/vue/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <script src="../plugins/elementui/index.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>

    <div id="app">
        <div class="leaderTab" style="width: 100%;">
            <div class="title-h3">
                <h3>信息管理<small>图书管理</small></h3>
            </div>
            <div class="title-item">
                <el-breadcrumb separator-class="el-icon-arrow-right">
                    <el-breadcrumb-item :to="{ path: '/pages/index.html' }">首页</el-breadcrumb-item>
                    <el-breadcrumb-item>信息管理</el-breadcrumb-item>
                    <el-breadcrumb-item>图书管理</el-breadcrumb-item>
                </el-breadcrumb>
            </div>
            <div style="clear: both;"></div>
        </div>
        <div class="data">
            <div class="data-info">
                <div class="data-query">
                    <el-input
                            placeholder="书籍名称/作者"
                            v-model="pagination.requirement"
                            style="width: 200px;"
                            @change="findPage()"
                            clearable>
                    </el-input>
                    <el-button @click="findPage()">查询</el-button>
                    <el-button type="primary" plain @click="upCreate()">添加</el-button>
                </div>
                <el-row>
                    <el-col :span="11" v-for="(item) in dataList" :key="item.classId" :offset="1">
                        <el-card :body-style="{ padding: '0px'}">
                            <div class="div-card-img">
                                <img src="../img/default.jpg" class="image">
                            </div>
                            <div class="div-card-info">
                                <div class="div-info-data">
                                    <a href="">《<span class="data-span data-name" v-text="item.bookName"></span>》</a><br/>
                                    <span class="data-span span-title">作者：</span><span class="data-span data-writer" v-text="item.bookWriter"></span>
                                    <span class="data-span span-title">出版社：</span><span class="data-span data-company" v-text="item.bookCompany"></span>
                                    <span class="data-span span-title">出版日期：</span><span class="data-span data-date" v-text="item.bookDate"></span>
                                    <br/>
                                    <span class="data-span span-title-brief">简介：<span class="data-span data-brief" v-text="item.bookBrief"></span></span>
                                </div>

                            </div>
                        </el-card>
                    </el-col>
                </el-row>



                <div class="pageNum">
                    <el-pagination
                            @current-change="handleCurrentChange"
                            :current-page="pagination.currentPage"
                            :page-size="pagination.pageSize"
                            layout="total, prev, pager, next, jumper"
                            :total="pagination.total">
                    </el-pagination>
                </div>
            </div>
        </div>
    </div>

</body>

<style>
    .time {
        font-size: 13px;
        color: #999;
    }

    .data,.leaderTab{
        min-width: 1630px;
    }

    .el-col{
        margin: 10px 20px;
    }



    .div-card-img{
        float: left;
    }

    .image {
        margin: 0;
        padding: 0;
        display: block;
    }

    .image,.div-card-img{
        width: 80px;
        height: 120px;
    }

    .div-card-info{
        margin: 0 10px 0 90px;
        padding-top: 10px;
        text-align: left;
        height: 100px;
        font-family: 宋体;
    }
    .div-info-data{
        height: 70px;
    }

    .data-span{
        font-size: 8px;
        color: #008B00;
    }

    .data-name{
        font-size: 20px;
        color: #f00;
    }

    .span-title{
        font-weight: bold;
    }

    .span-title-brief{
        font-weight: bold;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }
    .span-title-brief,.data-brief{
        color: #666;
    }

    .data-brief{
        font-weight: normal;
    }

    .bottom{
        height: 25px;
    }

    .clearfix:before,.clearfix:after {
        display: table;
        content: "";
    }

    .clearfix:after {
        clear: both
    }
</style>

<script>
    var vm = new Vue({
        el:"#app",
        data:{
            pagination:{
                currentPage: 1,
                pageSize:10,
                total: 100,
                requirement: null
            },
            dataList: [
                {
                    bookId: 1,
                    bookName: '书名1',
                    bookWriter: '作者1',
                    bookDate: '2017-06-01',
                    bookCompany: '北京国际文化出版公司',
                    bookBrief: '《邓小平》详细而真实地讲述了一代伟人邓小平一生的经历。他是乡下家庭里的孩子，' +
                        '因为父亲开明，参加了勤工俭学运动，然后有了法国留学的机会。' +
                        '而正是这次留学经历让他认识了包括周恩来、李维汉等在内的一些革命党人',
                },
                {
                    bookId: 2,
                    bookName: '书名2',
                    bookWriter: '作者2',
                    bookDate: '2017-06-01',
                    bookCompany: '北京国际文化出版公司',
                    bookBrief: '本书按照世界历史发展的时间顺序，将总体内容分为六大章，即六个主体时间段，' +
                        '各章均以独特的视角切入人类历史的宏大画卷，从中撷取重大历史主题，' +
                        '并从政治、经济、文化、艺术等方面对主题进行研究和探索。在每个主题开始时，' +
                        '我们设定了“像历史学家一样思考”的栏目，这一栏目对主题内容做了简洁的叙述，' +
                        '并提出具有深度、值得思考的问题，使学生带着问题去阅读，并在阅读与思考中获得对问' +
                        '并提出具有深度、值得思考的问题，使学生带着问题去阅读，并在阅读与思考中获得对问',
                },
                {
                    bookId: 3,
                    bookName: '书名3',
                    bookWriter: '作者3',
                    bookDate: '2017-06-01',
                    bookCompany: '北京国际文化出版公司',
                    bookBrief: '《邓小平》详细而真实地讲述了一代伟人邓小平一生的经历。他是乡下家庭里的孩子，' +
                        '因为父亲开明，参加了勤工俭学运动，然后有了法国留学的机会。' +
                        '而正是这次留学经历让他认识了包括周恩来、李维汉等在内的一些革命党人',
                },
                {
                    bookId: 4,
                    bookName: '书名4',
                    bookWriter: '作者4',
                    bookDate: '2017-06-01',
                    bookCompany: '北京国际文化出版公司',
                    bookBrief: '《邓小平》详细而真实地讲述了一代伟人邓小平一生的经历。他是乡下家庭里的孩子，' +
                        '因为父亲开明，参加了勤工俭学运动，然后有了法国留学的机会。' +
                        '而正是这次留学经历让他认识了包括周恩来、李维汉等在内的一些革命党人',
                },
                {
                    bookId: 5,
                    bookName: '书名5',
                    bookWriter: '作者5',
                    bookDate: '2017-06-01',
                    bookCompany: '北京国际文化出版公司',
                    bookBrief: '《邓小平》详细而真实地讲述了一代伟人邓小平一生的经历。他是乡下家庭里的孩子，' +
                        '因为父亲开明，参加了勤工俭学运动，然后有了法国留学的机会。' +
                        '而正是这次留学经历让他认识了包括周恩来、李维汉等在内的一些革命党人',
                },
                {
                    bookId: 6,
                    bookName: '书名5',
                    bookWriter: '作者5',
                    bookDate: '2017-06-01',
                    bookCompany: '北京国际文化出版公司',
                    bookBrief: '《邓小平》详细而真实地讲述了一代伟人邓小平一生的经历。他是乡下家庭里的孩子，' +
                        '因为父亲开明，参加了勤工俭学运动，然后有了法国留学的机会。' +
                        '而正是这次留学经历让他认识了包括周恩来、李维汉等在内的一些革命党人',
                },
                {
                    bookId: 7,
                    bookName: '书名5',
                    bookWriter: '作者5',
                    bookDate: '2017-06-01',
                    bookCompany: '北京国际文化出版公司',
                    bookBrief: '《邓小平》详细而真实地讲述了一代伟人邓小平一生的经历。他是乡下家庭里的孩子，' +
                        '因为父亲开明，参加了勤工俭学运动，然后有了法国留学的机会。' +
                        '而正是这次留学经历让他认识了包括周恩来、李维汉等在内的一些革命党人',
                },
                {
                    bookId: 8,
                    bookName: '书名5',
                    bookWriter: '作者5',
                    bookDate: '2017-06-01',
                    bookCompany: '北京国际文化出版公司',
                    bookBrief: '《邓小平》详细而真实地讲述了一代伟人邓小平一生的经历。他是乡下家庭里的孩子，' +
                        '因为父亲开明，参加了勤工俭学运动，然后有了法国留学的机会。' +
                        '而正是这次留学经历让他认识了包括周恩来、李维汉等在内的一些革命党人',
                },

            ]
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.findPage();
        },
        methods: {

            //切换页码
            handleCurrentChange(currentPage) {
                //设置最新的页码
                this.pagination.currentPage = currentPage;
                //重新调用findPage方法进行分页查询
                this.findPage();
            },
            //分页查询
            findPage() {

            },
        }
    })
</script>
</html>