<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>借阅管理</title>
    <script src="../js/vue/vue.min.js"></script>
    <script src="../js/jQuery/jquery-3.5.0.min.js"></script>
    <script src="../js/vue/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <script src="../plugins/elementui/index.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>

<style>
    .el-dropdown {
        margin: 0 10px;
    }
    .el-dropdown-link {
        cursor: pointer;
        color: #409EFF;
    }
    .el-icon-arrow-down {
        font-size: 12px;
    }
    .el-tag {
        margin-right: 5px;
    }
</style>

<body>

<div id="app">
    <div class="leaderTab" style="width: 100%;">
        <div class="title-h3">
            <h3>
                借阅管理
                <small>图书借阅</small>
                <el-button type="primary" size="mini"
                           icon="el-icon-refresh"
                           @click="findPage()"
                           circle></el-button>
            </h3>
        </div>
        <div class="title-item">
            <el-breadcrumb separator-class="el-icon-arrow-right">
                <el-breadcrumb-item>借阅管理</el-breadcrumb-item>
                <el-breadcrumb-item>图书借阅</el-breadcrumb-item>
            </el-breadcrumb>
        </div>
        <div style="clear: both;"></div>


    </div>
    <div class="data">
        <div class="data-info">
            <div class="data-query">
                <el-input
                        placeholder="书名/用户名"
                        v-model="pagination.requirement"
                        style="width: 200px;"
                        @change="findPage()"
                        clearable>
                </el-input>
                <el-button @click="findPage()">查询</el-button>
                <el-button type="primary" plain @click="upCreate()">添加</el-button>
                <el-dropdown @command="screen">
                    <span class="el-dropdown-link">
                    筛选<i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item command="restore">归还</el-dropdown-item>
                        <el-dropdown-item command="renew">续借</el-dropdown-item>
                        <el-dropdown-item command="lose">挂失</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <el-tag
                        v-for="tag in tags"
                        :key="tag"
                        closable
                        @close="tagClose(tag)">
                    {{tag}}
                </el-tag>
                <el-popover
                        placement="top"
                        width="160"
                        trigger="click"
                        :ref="'deleteAll'">
                    <p>确定删除吗？</p>
                    <div style="text-align: right; margin: 0">
                        <el-button size="mini" type="text" @click="borrowInfoNoDelete('deleteAll')">取消</el-button>
                        <el-button type="primary" size="mini" @click="deleteAll()">确定</el-button>
                    </div>
                    <el-button
                            v-show="visibleButton"
                            type="danger"
                            slot="reference">删除选中</el-button>
                </el-popover>
            </div>
            <div class="data-table">
                <el-table
                        v-loading="loading"
                        :data="borrowList"
                        @selection-change="handleSelectionChange">
                    <el-table-column type="selection" width="55"></el-table-column>
                    <el-table-column type="index" align="center" label="序号"></el-table-column>
                    <el-table-column prop="bookName" align="center" label="书名"></el-table-column>
                    <el-table-column prop="bookWriter" align="center" label="作者"></el-table-column>
                    <el-table-column prop="userName" align="center" label="用户名"></el-table-column>
                    <el-table-column prop="userPhone" align="center" label="联系电话"></el-table-column>
                    <el-table-column prop="borrowDate" align="center" :formatter="dateFormatter" label="借阅日期"></el-table-column>
                    <el-table-column prop="returnDate" align="center" :formatter="dateFormatter" label="归还日期"></el-table-column>
                    <el-table-column prop="restore" align="center" label="是否归还" width="100px">
                        <template slot-scope="scope">
                            <el-popover
                                    placement="top"
                                    width="160"
                                    trigger="click"
                                    :ref="referencePre_restore + scope.row.borrowInfoId">
                                <p>确定吗？</p>
                                <div style="text-align: right; margin: 0">
                                    <el-button size="mini" type="text" @click="borrowInfoNoSwitch(referencePre_restore, scope.row)">取消</el-button>
                                    <el-button type="primary" size="mini" @click="borrowInfoSwitch(referencePre_restore, scope.row)">确定</el-button>
                                </div>
                                <el-switch
                                        style="display: block"
                                        v-model="scope.row.restore"
                                        active-color="#13ce66"
                                        inactive-color="#ff4949"
                                        type="danger"
                                        @change='changeStatus($event, scope.row, referencePre_restore)'
                                        slot="reference">
                                </el-switch>
                            </el-popover>
                        </template>
                    </el-table-column>
                    <el-table-column prop="renew" align="center" label="是否续借" width="100px">
                        <template slot-scope="scope">
                            <el-popover
                                    placement="top"
                                    width="160"
                                    trigger="click"
                                    :ref="referencePre_renew + scope.row.borrowInfoId">
                                <p>确定吗？</p>
                                <div style="text-align: right; margin: 0">
                                    <el-button size="mini" type="text" @click="borrowInfoNoSwitch(referencePre_renew, scope.row)">取消</el-button>
                                    <el-button type="primary" size="mini" @click="borrowInfoSwitch(referencePre_renew, scope.row)">确定</el-button>
                                </div>
                                <el-switch
                                        style="display: block"
                                        v-model="scope.row.renew"
                                        active-color="#13ce66"
                                        inactive-color="#ff4949"
                                        type="danger"
                                        @change='changeStatus($event, scope.row, referencePre_renew)'
                                        slot="reference">
                                </el-switch>
                            </el-popover>
                        </template>
                    </el-table-column>
                    <el-table-column prop="lose" align="center" label="是否挂失" width="100px">
                        <template slot-scope="scope">
                            <el-popover
                                    placement="top"
                                    width="160"
                                    trigger="click"
                                    :ref="referencePre_lose + scope.row.borrowInfoId">
                                <p>确定吗？</p>
                                <div style="text-align: right; margin: 0">
                                    <el-button size="mini" type="text" @click="borrowInfoNoSwitch(referencePre_lose, scope.row)">取消</el-button>
                                    <el-button type="primary" size="mini" @click="borrowInfoSwitch(referencePre_lose, scope.row)">确定</el-button>
                                </div>
                                <el-switch
                                        style="display: block"
                                        v-model="scope.row.lose"
                                        active-color="#13ce66"
                                        inactive-color="#ff4949"
                                        type="danger"
                                        @change='changeStatus($event, scope.row, referencePre_lose)'
                                        slot="reference">
                                </el-switch>
                            </el-popover>
                        </template>
                    </el-table-column>
                    <el-table-column label="操作" align="center">
                        <template slot-scope="scope">
                            <el-button
                                    size="mini"
                                    type="primary"
                                    @click="upEdit(scope.row)">编辑</el-button>
                            <el-popover
                                    placement="top"
                                    width="160"
                                    trigger="click"
                                    :ref="scope.row.borrowInfoId">
                                <p>确定删除吗？</p>
                                <div style="text-align: right; margin: 0">
                                    <el-button size="mini" type="text" @click="borrowInfoNoDelete(scope.row.borrowInfoId)">取消</el-button>
                                    <el-button type="primary" size="mini" @click="borrowInfoDelete(scope.row.borrowInfoId)">确定</el-button>
                                </div>
                                <el-button
                                        size="mini"
                                        type="danger"
                                        slot="reference">删除</el-button>
                            </el-popover>
                        </template>
                    </el-table-column>
                </el-table>
            </div>

            <div>
                <el-dialog
                        title="添加"
                        :visible.sync="dialogVisibleCreate"
                        width="40%"
                        :before-close="handleClose">

                    <el-form :model="borrowForm" :rules="borrowRules" ref="borrowForm" label-width="100px">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="书名" prop="bookName">
                                    <el-select v-model="borrowForm.bookName"
                                               value-key="bookId"
                                               filterable
                                               clearable
                                               placeholder="请选择书籍"
                                               @change="(value)=>{selectBooks(value)}"
                                               style="width:100%">
                                        <el-option
                                                v-for="item in books"
                                                :key="item.bookId"
                                                :label="item.bookName"
                                                :value="item">
                                            <span style="float: left">{{ item.bookName }}</span>
                                            <span style="float: right; color: #8492a6; font-size: 13px">{{ item.bookWriter }}</span>
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="10">
                                <el-form-item label="作者">
                                    <el-input v-model="borrowForm.bookWriter" :disabled="true"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="用户名" prop="userName">
                                    <el-select v-model="borrowForm.userName"
                                               value-key="userId"
                                               filterable
                                               clearable
                                               placeholder="请选择书籍"
                                               @change="(value)=>{selectUsers(value)}"
                                               style="width:100%">
                                        <el-option
                                                v-for="item in users"
                                                :key="item.userId"
                                                :label="item.userName"
                                                :value="item">
                                            <span style="float: left">{{ item.userName }}</span>
                                            <span style="float: right; color: #8492a6; font-size: 13px">{{ item.userPhone }}</span>
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="10">
                                <el-form-item label="联系电话">
                                    <el-input v-model="borrowForm.userPhone" :disabled="true"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="22">
                                <el-form-item label="借阅时间" prop="borrowDate">
                                    <el-date-picker
                                            v-model="dateScope"
                                            format="yyyy-MM-dd"
                                            value-format="yyyy-MM-dd"
                                            type="daterange"
                                            align="right"
                                            unlink-panels
                                            range-separator="至"
                                            start-placeholder="开始日期"
                                            end-placeholder="结束日期"
                                            :picker-options="pickerOptions"
                                            style="width: 100%;"
                                            @change="dateBinding()">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="8">
                                <el-form-item label="是否归还" prop="restore">
                                    <el-switch
                                            style="display: block; position: absolute; top: 50%; transform: translateY(-50%)"
                                            v-model="borrowForm.restore"
                                            active-color="#13ce66"
                                            inactive-color="#ff4949">
                                    </el-switch>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="是否续借" prop="renew">
                                    <el-switch
                                            style="display: block; position: absolute; top: 50%; transform: translateY(-50%)"
                                            v-model="borrowForm.renew"
                                            active-color="#13ce66"
                                            inactive-color="#ff4949">
                                    </el-switch>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="是否挂失" prop="lose">
                                    <el-switch
                                            style="display: block; position: absolute; top: 50%; transform: translateY(-50%)"
                                            v-model="borrowForm.lose"
                                            active-color="#13ce66"
                                            inactive-color="#ff4949">
                                    </el-switch>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>

                    <span slot="footer" class="dialog-footer">
                            <el-button @click="resetForm('borrowForm')">重 置</el-button>
                            <el-button @click="dialogVisibleCreate = false">取 消</el-button>
                            <el-button type="primary" @click="handleCreate('borrowForm')">添 加</el-button>
                        </span>
                </el-dialog>
            </div>

            <div>
                <el-dialog
                        title="编辑"
                        :visible.sync="dialogVisibleEdit"
                        width="40%"
                        :before-close="handleClose">

                    <el-form :model="borrowForm" :rules="borrowRules" ref="borrowForm" label-width="100px">
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="书名" prop="bookName">
                                    <el-select v-model="borrowForm.bookName"
                                               value-key="bookId"
                                               filterable
                                               clearable
                                               placeholder="请选择书籍"
                                               @change="(value)=>{selectBooks(value)}"
                                               style="width:100%">
                                        <el-option
                                                v-for="item in books"
                                                :key="item.bookId"
                                                :label="item.bookName"
                                                :value="item">
                                            <span style="float: left">{{ item.bookName }}</span>
                                            <span style="float: right; color: #8492a6; font-size: 13px">{{ item.bookWriter }}</span>
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="10">
                                <el-form-item label="作者">
                                    <el-input v-model="borrowForm.bookWriter" :disabled="true"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="12">
                                <el-form-item label="用户名" prop="userName">
                                    <el-select v-model="borrowForm.userName"
                                               value-key="userId"
                                               filterable
                                               clearable
                                               placeholder="请选择书籍"
                                               @change="(value)=>{selectUsers(value)}"
                                               style="width:100%">
                                        <el-option
                                                v-for="item in users"
                                                :key="item.userId"
                                                :label="item.userName"
                                                :value="item">
                                            <span style="float: left">{{ item.userName }}</span>
                                            <span style="float: right; color: #8492a6; font-size: 13px">{{ item.userPhone }}</span>
                                        </el-option>
                                    </el-select>
                                </el-form-item>
                            </el-col>
                            <el-col :span="10">
                                <el-form-item label="联系电话">
                                    <el-input v-model="borrowForm.userPhone" :disabled="true"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="22">
                                <el-form-item label="借阅时间" prop="borrowDate">
                                    <el-date-picker
                                            v-model="dateScope"
                                            format="yyyy-MM-dd"
                                            value-format="yyyy-MM-dd"
                                            type="daterange"
                                            align="right"
                                            unlink-panels
                                            range-separator="至"
                                            start-placeholder="开始日期"
                                            end-placeholder="结束日期"
                                            :picker-options="pickerOptions"
                                            style="width: 100%;"
                                            @change="dateBinding()">
                                    </el-date-picker>
                                </el-form-item>
                            </el-col>
                        </el-row>
                        <el-row>
                            <el-col :span="8">
                                <el-form-item label="是否归还" prop="restore">
                                    <el-switch
                                            style="display: block; position: absolute; top: 50%; transform: translateY(-50%)"
                                            v-model="borrowForm.restore"
                                            active-color="#13ce66"
                                            inactive-color="#ff4949">
                                    </el-switch>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="是否续借" prop="renew">
                                    <el-switch
                                            style="display: block; position: absolute; top: 50%; transform: translateY(-50%)"
                                            v-model="borrowForm.renew"
                                            active-color="#13ce66"
                                            inactive-color="#ff4949">
                                    </el-switch>
                                </el-form-item>
                            </el-col>
                            <el-col :span="8">
                                <el-form-item label="是否挂失" prop="lose">
                                    <el-switch
                                            style="display: block; position: absolute; top: 50%; transform: translateY(-50%)"
                                            v-model="borrowForm.lose"
                                            active-color="#13ce66"
                                            inactive-color="#ff4949">
                                    </el-switch>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>

                    <span slot="footer" class="dialog-footer">
                            <el-button @click="resetFormEdit()">重 置</el-button>
                            <el-button @click="dialogVisibleEdit = false">取 消</el-button>
                            <el-button type="primary" @click="handleEdit('borrowForm')">修 改</el-button>
                        </span>
                </el-dialog>
            </div>

            <div class="pageNum">
                <el-pagination
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>
        </div>
    </div>
</div>

</body>
<script>
    var vm = new Vue({
        el:"#app",
        data:{
            pagination:{
                currentPage: 1,
                pageSize:10,
                total: 100,
                requirement: null,
                screens: []
            },
            tags: [],
            referencePre_restore: 'restore-',
            referencePre_renew: 'renew-',
            referencePre_lose: 'lose-',
            borrowList: [],
            loading: true,
            dialogVisibleCreate: false,
            visibleButton: false,
            dialogVisibleEdit: false,
            multipleSelection: [],
            pickerOptions: {
                shortcuts: [{
                    text: '最近一周',
                    onClick(picker) {
                        const start = new Date();
                        const end = new Date();
                        end.setTime(end.getTime() + 3600 * 1000 * 24 * 7);
                        picker.$emit('pick', [start, end]);
                    }
                }, {
                    text: '最近一个月',
                    onClick(picker) {
                        const start = new Date();
                        const end = new Date();
                        end.setTime(end.getTime() + 3600 * 1000 * 24 * 30);
                        picker.$emit('pick', [start, end]);
                    }
                }]
            },
            dateScope: '',
            books: null,
            users: null,
            borrowForm: {},
            row: {

            },
            borrowRules: {
                bookName: [
                    { required: true, message: '请选择书籍', trigger: ['blur','change'] },
                ],
                userName: [
                    { required: true, message: '请选择用户', trigger: ['blur','change'] },
                ],
                borrowDate: [
                    { required: true, message: '请选择借阅日期', trigger: 'blur' },
                    { min: 1, message: '请选择借阅日期', trigger: 'change' }
                ]
            }

        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.findPage();
        },
        methods: {

            //编辑表单重置
            resetFormEdit() {
                this.setEditForm();
            },

            //表单重置
            resetForm(formName) {
                this.borrowForm = {
                    renew: false,
                    restore: false,
                };
                this.dateScope = '';
                if (this.$refs[formName]!==undefined){
                    this.$refs[formName].resetFields();
                }
            },

            // 关闭标签
            tagClose(tag) {
                switch (tag) {
                    case "归还":
                        this.pagination.screens.splice(this.pagination.screens.indexOf("restore"), 1);
                        break;
                    case "续借":
                        this.pagination.screens.splice(this.pagination.screens.indexOf("renew"), 1);
                        break;
                    case "挂失":
                        this.pagination.screens.splice(this.pagination.screens.indexOf("lose"), 1);
                        break;
                }
                this.findPage()
                this.tags.splice(this.tags.indexOf(tag), 1);
            },


            handleSelectionChange(val) {
                if (!this.visibleButton) {
                    this.visibleButton = true;
                }
                this.multipleSelection = val;
                if (this.multipleSelection.length == 0) {
                    this.visibleButton = false;
                }
            },

            // 下拉菜单选择触发
            screen(command) {
                if (!command) {
                    return;
                }
                if (this.pagination.screens.indexOf(command) == -1) {
                    this.pagination.screens.push(command);
                    this.findPage();
                    switch (command) {
                        case "restore":
                            this.tags.push("归还");
                            break;
                        case "renew":
                            this.tags.push("续借");
                            break;
                        case "lose":
                            this.tags.push("挂失");
                            break;
                    }
                }
            },

            //弹窗关闭确定
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {});
            },

            // 时间范围绑定
            dateBinding() {
                if (this.dateScope != null) {
                    this.borrowForm.borrowDate = this.dateScope[0];
                    this.borrowForm.returnDate = this.dateScope[1];
                }
            },

            // 选择书籍
            selectBooks(books) {
                this.borrowForm.bookId = books.bookId;
                this.borrowForm.bookName = books.bookName;
                this.borrowForm.bookWriter = books.bookWriter;
            },
            // 选择用户
            selectUsers(users) {
                this.borrowForm.userId = users.userId;
                this.borrowForm.userName = users.userName;
                this.borrowForm.userPhone = users.userPhone;
            },

            //获取书籍信息
            findBooks(){
                if (this.books != null)return;
                axios.get("/books_manage_backend/books/findAllToBorrowInfoCreate.do").then((res) => {
                    if (res.data.flag){
                        this.books = res.data.data;
                    }else {
                        this.$message.error(res.data.message);
                    }
                })
            },

            //获取书籍信息
            findUsers(){
                if (this.users != null)return;
                axios.get("/books_manage_backend/users/findAllToBorrowInfoCreate.do").then((res) => {
                    if (res.data.flag){
                        this.users = res.data.data;
                    }else {
                        this.$message.error(res.data.message);
                    }
                })
            },

            //弹出添加窗口
            upCreate(){
                this.dialogVisibleCreate = true;
                this.resetForm('borrowForm');
            },
            //添加提交
            handleCreate(formName){
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        console.log(this.borrowForm);
                        axios.post("/books_manage_backend/borrowInfo/createBorrowInfo.do",this.borrowForm).then((res) => {
                            if (res.data.flag){
                                this.$message({
                                    message: res.data.message,
                                    type: 'success'
                                });
                                this.dialogVisibleCreate = false;
                                this.findPage();
                            }else {
                                this.$message.error(res.data.message);
                            }
                        }).catch((res) => {
                            this.dialogVisibleCreate = false;
                            this.permissionsMessage(res);
                        });
                    } else {
                        this.$message.error('请检查信息填写是否正确！');
                        return false;
                    }
                });
            },
            //编辑提交
            handleEdit(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios.post("/books_manage_backend/borrowInfo/updateBorrowInfo.do",this.borrowForm).then((res) => {
                            if (res.data.flag){
                                this.$message({
                                    message: res.data.message,
                                    type: 'success'
                                });
                                this.dialogVisibleEdit = false;
                                this.findPage();
                            }else {
                                this.$message.error(res.data.message);
                            }
                        }).catch((res) => {
                            this.dialogVisibleEdit = false;
                            this.permissionsMessage(res);
                        });
                    } else {
                        this.$message.error('请检查信息填写是否正确！');
                        return false;
                    }
                });
            },

            // 设置编辑框数据
            setEditForm(){
                this.borrowForm = {
                    borrowInfoId: this.row.borrowInfoId,
                    bookId: this.row.bookId,
                    bookName: this.row.bookName,
                    bookWriter: this.row.bookWriter,
                    userId: this.row.userId,
                    userName: this.row.userName,
                    userPhone: this.row.userPhone,
                    borrowDate: this.row.borrowDate,
                    returnDate: this.row.returnDate,
                    restore: this.row.restore,
                    renew: this.row.renew,
                };
                this.dateScope = [this.row.borrowDate, this.row.returnDate];
            },

            //弹出编辑窗口
            upEdit(row) {
                this.row = row;
                this.setEditForm();
                this.dialogVisibleEdit = true;

            },


            //删除
            borrowInfoDelete(borrowInfoId){
                axios.get("/books_manage_backend/borrowInfo/delete.do?borrowInfoId=" + borrowInfoId).then((res) => {
                    if (res.data.flag){
                        this.$message({
                            message: res.data.message,
                            type: 'success'
                        });
                        this.findPage();
                    } else {
                        this.$message.error(res.data.message);
                    }
                    this.deleteWindowClose(borrowInfoId);
                }).catch((res) => {
                    this.permissionsMessage(res);
                    this.deleteWindowClose(borrowInfoId);
                });
            },
            //删除
            deleteAll(){
                axios.post("/books_manage_backend/borrowInfo/deleteAll.do", this.multipleSelection).then((res) => {
                    if (res.data.flag){
                        this.$message({
                            message: res.data.message,
                            type: 'success'
                        });
                        this.findPage();
                    } else {
                        this.$message.error(res.data.message);
                    }
                }).catch((res) => {
                    this.permissionsMessage(res);
                });
                this.deleteWindowClose('deleteAll');
            },

            // 删除弹窗关闭
            deleteWindowClose(borrowInfoId) {
                this.$refs[borrowInfoId].doClose();
            },

            //取消删除
            borrowInfoNoDelete(borrowInfoId){
                this.deleteWindowClose(borrowInfoId);
                this.$message({
                    type: 'info',
                    message: '放弃删除'
                })
            },

            changeSwitch(referencePre, borrowInfo) {
                switch (referencePre) {
                    case 'lose-':
                        borrowInfo.lose = !borrowInfo.lose;
                        break;
                    case 'renew-':
                        borrowInfo.renew = !borrowInfo.renew;
                        break;
                    case 'restore-':
                        borrowInfo.restore = !borrowInfo.restore;
                        break;
                }
            },

            //确认
            borrowInfoSwitch(referencePre, borrowInfo){
                this.changeSwitch(referencePre, borrowInfo);
                axios.post("/books_manage_backend/borrowInfo/updateBorrowInfo.do", borrowInfo).then((res) => {
                    if (res.data.flag){
                        this.$message({
                            message: res.data.message,
                            type: 'success'
                        });
                        this.findPage();
                    }else {
                        this.$message.error(res.data.message);
                    }
                }).catch((res) => {
                    // 权限不足，改变回来
                    this.changeSwitch(referencePre, borrowInfo);
                    this.permissionsMessage(res);
                });
                this.switchWindowClose(referencePre + borrowInfo.borrowInfoId);
            },

            // 弹窗关闭
            switchWindowClose(referencePre) {
                this.$refs[referencePre].doClose();
            },

            //取消
            borrowInfoNoSwitch(referencePre, borrowInfo){
                this.switchWindowClose(referencePre + borrowInfo.borrowInfoId);
                this.$message({
                    type: 'info',
                    message: '放弃操作'
                })
            },

            // switch改变
            changeStatus(event, borrowInfo, referencePre){
                switch (referencePre) {
                    case 'lose-':
                        borrowInfo.lose = !event;
                        break;
                    case 'renew-':
                        borrowInfo.renew = !event;
                        break;
                    case 'restore-':
                        borrowInfo.restore = !event;
                        break;
                }
            },

            permissionsMessage(res){
                if (String(res).indexOf('Error: Request failed with status code 403') != -1){
                    //权限不足
                    this.$message.error('权限不足');
                    return;
                }else{
                    this.$message.error('操作失败');
                    return;
                }
            },

            //切换页码
            handleCurrentChange(currentPage) {
                //设置最新的页码
                this.pagination.currentPage = currentPage;
                //重新调用findPage方法进行分页查询
                this.findPage();
            },
            //分页查询
            findPage() {
                //发送ajax请求，提交分页相关请求参数（页码、每页显示记录数、查询条件）
                var param = {
                    currentPage: this.pagination.currentPage,
                    pageSize: this.pagination.pageSize,
                    requirement: this.pagination.requirement,
                    screens: this.pagination.screens
                };
                axios.post("/books_manage_backend/borrowInfo/findPage.do",param).then((res) => {
                    //解析返回的数据
                    this.pagination.total = res.data.total;
                    this.borrowList = res.data.rows;
                    this.loading = false;
                });
                this.findBooks();
                this.findUsers();
            },

            // 日期格式化
            dateFormatter(row, column, cellValue, index) {
                const date = row[column.property];
                if (date != null) {
                    return date.split(" ")[0];
                }
            }
        }
    })
</script>
</html>