<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
    <meta charset="UTF-8">
    <title>图书管理</title>
    <script src="../js/vue/vue.min.js"></script>
    <script src="../js/jQuery/jquery-3.5.0.min.js"></script>
    <script src="../js/vue/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <script src="../plugins/elementui/index.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div id="app">
        <el-container>
            <el-header>
                <span class="title">图书管理系统</span>
            </el-header>

            <el-container>
                <el-aside width="200px">
                    <el-menu>
                        <el-submenu v-for="menu in menuList" :index="menu.path">
                            <template slot="title">
                                <i class="fn" :class="menu.icon"></i>&nbsp;&nbsp;
                                {{menu.title}}
                            </template>
                            <template v-for="child in menu.children">
                                <a :href="child.linkUrl" target="right">
                                    <el-menu-item :index="child.path">
                                        {{child.title}}
                                    </el-menu-item>
                                </a>
                            </template>
                        </el-submenu>
                    </el-menu>
                </el-aside>

                <el-main>
                    <iframe name="right" class="el-main" src="books_manage.html" width="100%" height="780px" frameborder="0"></iframe>
                </el-main>
            </el-container>
        </el-container>
    </div>

</body>




<style>
    .el-header {
        background-color: #8cc5ff;
        color: #333;
        line-height: 60px;
    }
    .el-aside {
        background-color: #fff;
        color: #333;
        text-align: center;
        line-height: 400px;
    }
    .el-main {
        padding: 10px;
        background-color: #eee;
        text-align: center;
    }
    .title{
        color: #fff;
        font-size: x-large;
    }
    .iframe-main{
        padding: 0;
        margin: 0;

    }
</style>

<script>
    new Vue({
        el:"#app",
        data:{
            date: '2016-05-02',
            name: '王小虎',
            address: '上海市普陀区金沙江路 1518 弄',
            menuList: [
                {
                    "path": "1",
                    "title": "信息管理",
                    "icon": "el-icon-document",
                    "children": [
                        {
                            "path": "/1-1",
                            "title": "图书管理",
                            "linkUrl": "books_manage.html",
                            "children": []
                        },
                        {
                            "path": "/1-2",
                            "title": "分类管理",
                            "linkUrl": "sort_manage.html",
                            "children": []
                        },
                        {
                            "path": "/1-3",
                            "title": "库存管理",
                            "linkUrl": "repertory_manage.html",
                            "children": []
                        }
                    ]
                },
                {
                    "path": "2",
                    "title": "借阅管理",
                    "icon": "el-icon-edit-outline",
                    "children": [
                        {
                            "path": "/2-1",
                            "title": "借阅列表",
                            "linkUrl": "orderlist.html",
                            "children": []
                        },
                        {
                            "path": "/2-2",
                            "title": "借阅登记",
                            "linkUrl": "ordersetting.html",
                            "children": []
                        }
                    ]
                }
            ],
        },
        methods: {
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            }
        }
    });
</script>
</html>