<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico"/>
    <meta charset="UTF-8">
    <title>图书管理</title>
    <script src="../js/vue/vue.min.js"></script>
    <script src="../js/jQuery/jquery-3.5.0.min.js"></script>
    <script src="../js/vue/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <script src="../plugins/elementui/index.js"></script>
    <link rel="stylesheet" href="../css/style.css">
</head>
<style>
    .el-menu--collapse .el-menu .el-submenu, .el-menu--popup{
        text-align: center;
        min-width: 100px !important;
    }
    .right-menu {
        float: right;
        padding: 0 30px 0 0;
    }
    .avatar-wrapper {
        color: #fff;
    }
    .avatar-wrapper img{
        width: 40px;
        height: 40px;
        border-radius: 20px;
        vertical-align: middle
    }
    .menu-a a {
        color: #6f7180;
        text-decoration: none;
    }
</style>
<body>
    <div id="app">
        <el-container>
            <el-header>
                <el-row>
                    <el-col :span="3" class="title-col">
                        <span class="title">图书管理系统</span>
                    </el-col>
                    <el-col :span="18">
                        <el-menu
                                :default-active="activeIndex"
                                class="el-menu-demo"
                                mode="horizontal"
                                @select="handleSelect"
                                background-color="#545c64"
                                text-color="#fff"
                                active-text-color="#ffd04b">
                            <template v-for="menu in menuList">
                                <el-submenu v-if="menu.flag" :index="menu.index">
                                    <template slot="title">
                                        <i class="fn" :class="menu.icon"></i>&nbsp;&nbsp;
                                        {{menu.title}}
                                    </template>
                                    <el-menu-item v-for="child in menu.children" :index="child" class="li_item">
                                        {{child.title}}
                                    </el-menu-item>
                                </el-submenu>
                                <el-menu-item v-if="!menu.flag" :index="menu" class="home-menu">
                                    <i class="fn" :class="menu.icon"></i>
                                        {{menu.title}}
                                </el-menu-item>
                            </template>
                        </el-menu>
                    </el-col>
                    <el-col :span="3">
                        <div class="right-menu">
                            <el-dropdown trigger="click">
                                <div class="avatar-wrapper">
                                    <img src="../img/custom.jpg" class="user-avatar">
                                    {{admin.adminUsername}}
                                </div>
                                <el-dropdown-menu
                                        class="menu-a"
                                        slot="dropdown">
                                    <el-dropdown-item divided>
                                        <a @click="upEdit()">
                                            <span style="display:block;">修改密码</span>
                                        </a>
                                    </el-dropdown-item>
                                    <el-dropdown-item divided>
                                        <a href="/books_manage_backend/logout.do">
                                            <span style="display:block;">退出</span>
                                        </a>
                                    </el-dropdown-item>
                                </el-dropdown-menu>
                            </el-dropdown>
                        </div>
                    </el-col>
                </el-row>
            </el-header>
            <div>
                <el-dialog
                        title="修改密码"
                        :visible.sync="dialogVisibleEdit"
                        width="20%"
                        :before-close="handleClose">

                    <el-form :model="admin" :rules="adminRules" ref="admin" label-width="100px">
                        <el-row>
                            <el-col :span="20">
                                <el-form-item status-icon label="密码" prop="adminPassword">
                                    <el-input v-model="admin.adminPassword"></el-input>
                                </el-form-item>
                            </el-col>
                        </el-row>
                    </el-form>

                    <span slot="footer" class="dialog-footer">
                        <el-button @click="dialogVisibleEdit = false">取 消</el-button>
                        <el-button type="primary" @click="handleEdit('admin')">修 改</el-button>
                    </span>
                </el-dialog>
            </div>
            <el-container>
                <el-main>
                    <iframe name="iframe" class="el-main" :src="srcUrl" width="100%" height="780px" frameborder="0"></iframe>
                </el-main>
            </el-container>
        </el-container>
    </div>

</body>




<style>
    .el-header {
        background-color:#545c64;
        padding: 0;
        color: #333;
        line-height: 60px;
    }
    .el-aside {
        background-color: #fff;
        color: #333;
        text-align: center;
        line-height: 400px;
    }
    .el-main {
        padding: 0;
        background-color: #eee;
        text-align: center;
    }
    .title{
        color: #fff;
        font-size: x-large;
    }
    .iframe-main{
        padding: 0;
        margin: 0;

    }
    .title-col {
        padding-left: 20px;
    }
    .home-menu-a {
        width: 100%;
        height: 100%;
    }

</style>

<script>
    new Vue({
        el:"#app",
        data:{
            activeIndex: '1',
            srcUrl:"home.html",
            admin: {},
            adminRules: {
                adminPassword: [
                    { required: true, message: '请填写密码', trigger: ['blur','change'] },
                ],
            },
            dialogVisibleEdit: false,
            menuList: [
                {
                    "index": "1",
                    "title": "首页",
                    "icon": "",
                    "flag": false,
                    "path": "home.html",
                },
                {
                    "index": "2",
                    "title": "信息管理",
                    "icon": "el-icon-document",
                    "flag": true,
                    "children": [
                        {
                            "index": "2-1",
                            "title": "图书管理",
                            "flag": true,
                            "path": "books_manage.html",
                        },
                        {
                            "index": "2-2",
                            "title": "分类管理",
                            "flag": true,
                            "path": "sort_manage.html",
                        },
                        {
                            "index": "2-3",
                            "title": "库存管理",
                            "flag": true,
                            "path": "repertory_manage.html",
                        }
                    ]
                },
                {
                    "index": "3",
                    "title": "借阅管理",
                    "icon": "el-icon-edit-outline",
                    "flag": false,
                    "path": "books_borrow.html",
                },
                {
                    "index": "4",
                    "title": "系统管理",
                    "icon": "el-icon-document",
                    "flag": true,
                    "children": [
                        {
                            "index": "4-1",
                            "title": "用户管理",
                            "flag": true,
                            "path": "users_manage.html",
                        },
                        {
                            "index": "4-2",
                            "title": "管理员设置",
                            "flag": true,
                            "path": "admin_manage.html",
                        },
                        {
                            "index": "4-3",
                            "title": "角色管理",
                            "flag": true,
                            "path": "role_manage.html",
                        },
                    ]
                },
            ],
        },
        methods: {
            handleSelect(menu) {
                this.srcUrl = menu.path;
            },
            getAdmin() {
                //发送ajax请求，请求Controller获取当前登录用户的用户名，展示到页面中
                axios.get("/books_manage_backend/admin/getAdminExcludePasswords.do").then((res) => {
                    if (res.data.flag){
                        this.admin = res.data.data;
                    }
                })
            },

            //表单重置
            resetForm(formName) {
                this.admin = {
                    adminId: this.admin.adminId,
                    adminUsername: this.admin.adminUsername,
                    adminPassword: undefined,
                    adminGrade: this.admin.adminGrade,
                    adminState: this.admin.adminState,
                };
                if (this.$refs[formName] !== undefined){
                    this.$refs[formName].resetFields();
                }
            },


            //弹出编辑窗口
            upEdit() {
                this.dialogVisibleEdit = true;
                this.resetForm('admin');
            },
            //编辑提交
            handleEdit(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios.post("/books_manage_backend/admin/updateAdmin.do", this.admin).then((res) => {
                            if (res.data.flag){
                                this.$message({
                                    message: res.data.message,
                                    type: 'success'
                                });
                                this.dialogVisibleEdit = false;
                            }else {
                                this.$message.error(res.data.message);
                            }
                        }).catch((res) => {
                            this.dialogVisibleEdit = false;
                            this.permissionsMessage(res);
                        });
                    } else {
                        this.$message.error('请检查信息填写是否正确！');
                        return false;
                    }
                });
            },

            permissionsMessage(res){
                if (res == 'Error: Request failed with status code 403'){
                    //权限不足
                    this.$message.error('权限不足');
                    return;
                }else{
                    this.$message.error('操作失败');
                    return;
                }
            },
            //弹窗关闭确定
            handleClose(done) {
                this.$confirm('确认关闭？')
                    .then(_ => {
                        done();
                    })
                    .catch(_ => {});
            },
        },
        created() {
            this.getAdmin();
        }
    });
</script>
</html>