<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员登陆</title>
    <link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css">
    <script src="js/jQuery/jquery-3.5.0.min.js"></script>
    <script src="plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/vue/vue.min.js"></script>
    <script src="js/vue/axios-0.18.0.js"></script>
    <link rel="stylesheet" href="plugins/elementui/index.css">
    <script src="plugins/elementui/index.js"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<style>
    body {
        background-image: url("img/background.jpg");
        background-size:cover;
        background-attachment:fixed;
    }
    .row {
        width: 600px;
        height: 300px;
        background-color: #FAF0E6;
        opacity:0.9;
        border:1px solid #ebebeb;
        border-radius: 5px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    .demo-ruleForm {
        width: 450px;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    input {
        width: 80% !important;
    }
</style>
<body>
    <div id="app">
        <div class="row">
            <el-form :model="adminForm" :rules="adminRules" ref="adminForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="用户名" prop="adminUsername">
                    <el-input v-model="adminForm.adminUsername"></el-input>
                </el-form-item>
                <el-form-item label="密码" prop="adminPassword">
                    <el-input type="password" status-icon v-model="adminForm.adminPassword"></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('adminForm')">立即登陆</el-button>
                    <el-button @click="resetForm('adminForm')">重置</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</body>
<script>
    var vm = new Vue({
        el: "#app",
        data: {
            adminForm: {},
            adminRules: {
                adminUsername: [
                    { required: true, message: '请填写用户名', trigger: ['blur','change'] },
                ],
                adminPassword: [
                    { required: true, message: '请填写密码', trigger: ['blur','change'] },
                ],
            }
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {

        },
        methods: {
            param(data) {
                let url = "";
                for (let k in data) {
                    let value = data[k] != undefined ? data[k] : "";
                    url += `&${k}=${encodeURIComponent(value)}`;
                }
                return url ? url.substring(1) : "";
            },
            submitForm(formName) {
                console.log(this.param(this.adminForm));
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios.post("/books_manage_backend/login.do", this.param(this.adminForm)).then((res) => {
                            //跳转地址
                            const url = res.request.responseURL;
                            if (url.indexOf("/login.html") != -1) {
                                this.$message.error('用户名或密码错误！');
                            }else {
                                window.location.href = url;
                            }
                        }).catch((res) => {
                            this.permissionsMessage(res);
                        });

                    } else {
                        this.$message.error('请检查信息填写是否正确！');
                        return false;
                    }
                });
            },
            resetForm(formName) {
                if (this.$refs[formName] !== undefined) {
                    this.$refs[formName].resetFields();
                }
            },
            permissionsMessage(res){
                if (res == 'Error: Request failed with status code 403'){
                    //权限不足
                    this.$message.error('权限不足');
                    return;
                }else{
                    this.$message.error('操作失败');
                    return;
                }
            },
        }
    });
</script>
</html>